# Real Estate Dataset -Exploratory and Descriptive Analysis
This processing is focused on the data preparation

In [1]:
import pandas as pd 
import numpy as np 
import os 
import plotly.express as px

## Define and Create Paths

In [2]:
# Get working directory 
current_dir = os.getcwd()

# Go one directory up to the root directory 
project_root_dir = os.path.dirname(current_dir)

data_dir = os.path.join(project_root_dir, 'data')
raw_dir = os.path.join(data_dir,'raw')
processed_dir = os.path.join(data_dir,'processed')

# Define paths to results folder 
results_dir = os.path.join(project_root_dir,'results')

# Define paths to docs folder 
docs_dir = os.path.join(project_root_dir,'docs') 

#Create directories if they do not exist 
os.makedirs(raw_dir,exist_ok= True)
os.makedirs(processed_dir,exist_ok= True)
os.makedirs(results_dir,exist_ok= True)
os.makedirs(data_dir,exist_ok= True)

### Read in the data

In [6]:
real_estate_filename = os.path.join(processed_dir, 'real_estate_cleaned.csv')
real_estate = pd.read_csv(real_estate_filename)
real_estate

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Category
0,160091,2016,12/23/2016,Avon,2 EDGEWOOD,143390,224000.0,0.640134,Condo,appartments
1,160172,2016,4/13/2017,Bethel,66 H NASHVILLE ROAD,80500,130000.0,0.619231,Condo,appartments
2,160258,2016,6/29/2017,Bethel,1 EAGLE ROCK HILL,117180,200000.0,0.585900,Condo,appartments
3,16233,2016,6/9/2017,Darien,54 KENSETT LANE,887600,1495000.0,0.593712,Condo,appartments
4,1600249,2016,5/12/2017,Guilford,66-10 HIGH ST,409250,665000.0,0.615414,Condo,appartments
...,...,...,...,...,...,...,...,...,...,...
183272,190141,2019,4/20/2020,Wilton,26 FOX RUN,560840,640000.0,0.876300,Single Family,single-residence
183273,19200,2019,6/29/2020,Monroe,39 FARM VIEW RD,238400,377400.0,0.631700,Single Family,single-residence
183274,190480,2019,2/25/2020,New Haven,498 HOWARD AV,110740,248000.0,0.446500,Two Family,duplex-residence
183275,19022,2019,10/17/2019,Watertown,305 BEACH AVE,192800,235000.0,0.820400,Single Family,single-residence
183276,190427,2019,7/16/2020,Trumbull,88 MERRIMAC DR,452620,622500.0,0.727100,Single Family,single-residence